.chart {
    padding: 15px;
    background-color: #acacac;
    border-radius: 10px;
    border: 1px solid black;
    width: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.chart_text {
    vertical-align: center;
    text-align: center;
    letter-spacing: 5px;
}