{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/chart.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav_links.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
  {# Import code for navigation links #}
  {% include 'nav_links.html' %}
  <h2 class="title">Administrator Login</h2>
  {# Prints whether passwords match #}
  {% if validate -%}
    <div id="validate_user">
      <p>{{validate}}</p>
    </div>
  {% endif %}
  {% if chart %}
    <div class="chart">
      {% for seat in chart %}
        <p class="chart_text">{{seat[0]}} {{seat[1]}} {{seat[2]}} {{seat[3]}}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% if totalCost %}
    <div class="totalCost">
      <p class="cost_text">Total Sales: {{totalCost}}</p>
    </div>
  {% endif %}
  <form method="POST" action="/admin">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.username.label }} {{ form.username }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      {{ form.login }}
  </form>
</div>
{% endblock %}